---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Programs from '../components/Programs.astro';
import Stats from '../components/Stats.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Lewis Paul Foundation | Sickle Cell Awareness">
	<main>
		<Hero />
		<About />
		<Programs />
		<Stats />
		<Contact />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		color: #2d3748;
		line-height: 1.6;
	}
</style>