frontend/node_modules/
frontend/node_modules/
forum/__pycache__/
events/__pycache__/
api/__pycache__/
donations/__pycache__/
users/__pycache__/
backend/donations/__pycache__/
backend/__pycache__/
foundation/__pycache__/
backend/backend/__pycache__/
backend/api/__pycache__/
backend/api/migrations/
backend/users/__pycache__/
backend/api/models/migrations/__pycache__/
backend/users/migrations/__pycache__/
backend/api/models/__pycache__/
backend/.env